.day {
    height: 100px;
    width: 150px;
    padding: 0;
    display: inline-block;
    /* border: 1px solid rgb(90, 159, 223); */
    margin: 1px;
    /* margin-top: 40px; */
    /* position: absolute; */
    /* transition: width 0.3s, height 0.3s; */
}

 .day:hover {
    cursor: pointer;
}


.day .date {
    text-align: end;
    border-bottom: 1px solid rgb(90, 159, 223);
    padding-right: 8px;
    background-color: rgba(90, 159, 223, 0.166);
    display: block;
}


.popup-card {
    height: 100px;
    width: 150px;
    border: 1px solid rgb(90, 159, 223);
    margin: 1px;
    position: relative;
    left: 0;
    top: 0;
    z-index: 0;
    background-color: #fff;
    transition: left 0.3s, top 0.3s, width 0.3s, height 0.3s, border-radius, z-index 0.6s;
}

.popup-card:hover {
    box-shadow: 0px 0px 2px 1px rgb(90, 159, 223);
}


/* .shiftType {
    height: 24px;
    outline: 1px solid black;
} */