.day {
    height: 100px;
    width: 150px;
    display: inline-block;
    border: 1px solid rgb(90, 159, 223);
    margin: 1px;
    transition: width 0.3s, height 0.3s;
}

 .day:hover {
    cursor: pointer;
}


.day .date {
    text-align: end;
    border-bottom: 1px solid rgb(90, 159, 223);
    padding-right: 8px;
    background-color: rgba(90, 159, 223, 0.166);
    display: block;
}


.popup-card {
    transition: width 0.3s, height 0.3s;
    height: 150px;
    width: 170px;
    border: 1px solid rgb(90, 159, 223);
    border-radius: 5px;
    position: absolute;
    margin-top: -26px;
    margin-left: -10px;
    z-index: 1;
    visibility: visible;
    background-color: #fff;
}

/* .shiftType {
    height: 24px;
    outline: 1px solid black;
} */