.cal-head {
    /* background-color: rgb(194, 211, 229); */
}

.cal-day {
    border: 1px solid rgb(90, 159, 223);
    /* width: 162.8px; this is without padding'n'stuff*/
    width: 150px;
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
}

.cal-day:first-child {
    border-top-left-radius: 4px;
}

.cal-day:last-child {
    border-top-right-radius: 4px;
}