.cal-date {
    padding-bottom: 3px;
}

.date {
    /* margin-bottom: 10px; */
}

/* .cal-head {
    background-color: rgb(194, 211, 229);
} */
.arrow:hover {
    cursor: pointer;
}

.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom:10px solid transparent; 
    margin-right: 15px;
    margin-top: 3px;
    border-right:16px solid rgb(90, 159, 223); 
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom:10px solid transparent; 
    margin-left: 15px;
    margin-top: 3px;
    border-left:16px solid rgb(90, 159, 223); 
}

.cal-dayOfweek {
    border: 1px solid rgb(90, 159, 223);
    /* width: 162.8px; this is without padding'n'stuff*/
    width: 150px;
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
}

.cal-dayOfweek:first-child {
    border-top-left-radius: 4px;
}

.cal-dayOfweek:last-child {
    border-top-right-radius: 4px;
}

.day {
    height: 100px;
    width: 150px;
    border: 1px solid rgb(90, 159, 223);
    margin: 1px;
}

